@using TrainingProject.Models
@using React.Web.Mvc
@model FileModel

@*@{

    Layout = null;
}*@



<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    @*@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")*@


</head>

<body>

    <table>
        <tr>
            <th>Folder Name</th>
            <th>Directory</th>
        </tr>
        @foreach (var folderName in Model.NameFolders)
        {

            <tr>
                <td onclick="EnterToFolder(this, '@Model.PathToContent')">@folderName</td>
                <td>@Model.PathToContent</td>
            </tr>
        }
    </table>

    <table>
        <tr>
            <th>File Name</th>
            <th>Directory</th>
        </tr>
        @foreach (var fileName in Model.NameFiles)
        {

            <tr>
                <td>@fileName</td>

                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        <td>@Html.ActionLink("Delete", "DeleteFile", new { fileName = fileName, path = Model.PathToContent })</td>
                    }

                }
            </tr>
        }
    </table>


    @using (Html.BeginForm("CreateFolder", "File", FormMethod.Post))
    {
        <label for="file">Folder Name:</label>
        <input type="hidden" value="@Model.PathToContent" , name="pathToFolder">
        <input type="text" name="folderName" />
        <input type="submit" />
    }

    @using (Html.BeginForm("CreateFile", "File", FormMethod.Post))
    {
        <label for="file">File Name:</label>
        <input type="hidden" value="@Model.PathToContent" , name="pathToFile">
        <input type="text" name="fileName" />
        <input type="submit" />
    }

    <div id="app"></div>
    
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>







    <script src="@Url.Content("~/Scripts/app.jsx")"></script>



    <style>
        table {
            margin: 20px auto;
            border: 1px solid black;
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
            padding: 10px;
        }

        th {
            text-align: center;
        }
    </style>


</body>
</html> 